@font-face {
    font-family: 'Poppins';
    src: url('./font/Poppins/Poppins-Regular.ttf') ;
  }
  *{
    font-family: 'Poppins' , 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
